# Database (PostgreSQL)
# Contoh: postgresql://user:password@localhost:5432/smart_catalogue
DATABASE_URL="postgresql://user:password@localhost:5432/smart_catalogue"

# NextAuth
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="ganti-dengan-secret-random-minimal-32-karakter"

# Admin default credentials (digunakan saat seed)
ADMIN_EMAIL="admin@example.com"
ADMIN_PASSWORD="admin123"

# Cloudinary (https://cloudinary.com)
CLOUDINARY_CLOUD_NAME="your_cloud_name"
CLOUDINARY_API_KEY="your_api_key"
CLOUDINARY_API_SECRET="your_api_secret"
